@import url('https://fonts.googleapis.com/css?family=Montserrat:ital,wght@200,300,400,500,700');

/* DO THIS BETTER */
a {
	text-decoration: none !important;
}

:root {
	/* Global color */
	background-color: #121212;
	/* users can not select unless we explicity allow */
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;

	touch-action: manipulation;

	/*----------COLORS----------*/
	/* Primary tone */
	--sc-yellow: #efd96f;
	--sc-blue: #24b1ff;
	/* Secondary tone */
	--sc-green: #7ad69c;
	--sc-red: #f55858;
	--sc-grey4: #333333;
	/* Additional colors */
	--sc-white: #fafafa;
	--sc-grey1: #f2f2f2;
	--sc-grey1b: #e6e6e6;
	--sc-grey2: #bfbfbf;
	--sc-grey3: #666666;
	--sc-grey3b: #acacac;
	--sc-green2: #23b460;
	--sc-red2: #d0021b;
}

/*----------TYPOGRAPHY----------*/
.mainTitle1 {
	font-weight: 800;
	font-family: Montserrat, sans-serif;
	font-size: 42px;
	letter-spacing: 0;
	line-height: 120%;
}

.mainTitle2 {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 28px;
	letter-spacing: 0;
	line-height: 36px;
}

.mainTitle3 {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 26px;
	letter-spacing: 0px;
	line-height: 32px;
}

.mainTitle4 {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 22px;
	letter-spacing: 0;
	line-height: 27px;
}

.bodyDefault {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 19px;
}

.bodyBold {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 19px;
}

.bodyDetail {
	font-family: Montserrat, sans-serif;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 24px;
}

.bodyButton {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 22px;
}

.smallLight {
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 15px;
}

.smallBold {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 15px;
}

.smallestLight {
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: 10px;
	letter-spacing: 0;
	line-height: 13px;
}

.smallestBold {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 10px;
	letter-spacing: 0;
	line-height: 13px;
}

.captionStyle {
	font-family: Montserrat,
		sans-serif;
	font-weight: 100;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 24px;
}

.blueLink {
	composes: smallBold;
	cursor: pointer;
	color: var(--sc-blue);
	border-bottom: 2px dotted var(--sc-blue);
}

.whiteLink {
	composes: smallBold;
	cursor: pointer;
	color: var(--sc-white);
	border-bottom: 2px dotted var(--sc-white);
}

.redLink {
	composes: smallBold;
	cursor: pointer;
	color: var(--sc-red);
	margin-top: 5px;
}

/*
.greyLink: {
composes: smallLight from './styles.module.css';
cursor: pointer;
color: var(--sc-grey4);
text-decoration: none;
border-bottom: 1px dotted var(--sc-grey3b);
}
*/




.baseShadow {
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
}

.baseGlowText {
	text-shadow: 0px 0px 20px #ffffff 0.5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*:focus {
	outline: none !important;
}

.backgroundImg {
	background-image: url('./images/bg-header3.png');
	background-size: cover;
}

.swarmcity {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	scroll-behavior: auto;
	max-width: 520px;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 520px;
	width: 100vw;
	background-color: var(--sc-grey1);
	overflow: hidden;
}


.hashtagName {
	composes: mainTitle1;
	color: #333333;
	height: 60px;
	margin-top: 25px;
}

.itembottom {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: -10px;
	margin-bottom: 25px;
}

.user {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left: 30px;
}

.logo {
	background-image: url('./images/logo-transparent-Y.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 108px;
	height: 50px;
	background-position: -108px -108px;
	animation: letter-flicker 8s linear infinite;
}

.logotext {
	margin-bottom: 20px;
	font-weight: 300;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	color: var(--sc-grey1);

	text-shadow: 0px 0px 5px var(--sc-grey2);
}

.offset {
	animation: letter-flicker 2s linear;
}

@keyframes letter-flicker {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 5px var(--sc-grey2);
	}

	100% {
		opacity: 1;
		text-shadow: 0px 0px 5px var(--sc-grey2);
	}
}

@keyframes text-flicker {
	0% {
		opacity: 1;
		text-shadow: 0px 0px 5px var(--sc-grey2);
	}

	2% {
		opacity: 0;
	}

	4% {
		opacity: 1;
		text-shadow: 0px 0px 5px var(--sc-grey2);
	}

	70% {
		opacity: 1;
		text-shadow: 0px 0px 5px var(--sc-grey2);
	}

	72% {
		opacity: 1;
		text-shadow: 0px 0px 5px var(--sc-grey2);
	}

	77% {
		opacity: 1;
		text-shadow: 0px 0px 5px var(--sc-grey2);
	}

	100% {
		opacity: 0.9;
		text-shadow: 0px 0px 5px var(--sc-grey2);
	}
}

.item {
	background-color: white;
	font-weight: 200;
	font-size: 22px;
	line-height: 19px;
	color: #333333;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	margin: 0px 10px 0px 10px;
	min-height: 121px;
	padding: 29px;
	display: grid;
	grid-template-columns: auto min-content;
	grid-template-rows: auto auto;
	grid-gap: 0px;
	padding: 29px;
}

.smallitem {
	background-color: white;
	font-weight: 200;
	font-size: 18px;
	line-height: 19px;
	color: #333333;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	margin: 0px 10px 4px 10px;
	min-height: 121px;
}

.myinfobox {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	color: #333333;
}

.usernamesmall {
	color: #333333;
}

.accountbox {
	composes: smallBold;
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	line-height: 20px;
	box-sizing: border-box;
	color: #333333;
}

.balance {
	composes: bodyBold;
	font-size: 22px;
	color: #efd96f;
}

.button {
	composes: bodyButton;
	composes: baseShadow;
	width: 75vw;
	min-width: 200px;
	max-width: 300px;
	text-align: center;
	box-sizing: border-box;
	padding: 30px 42px;
	border-radius: 2px;
	cursor: pointer;
	max-height: 82px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-top: 20px;
	color: var(--sc-grey4);
}

.buttontext {
	color: white;
}

.createaccountbutton {
	align-content: flex-start;
	width: 146px;
	height: 56px;
	text-align: center;
	border: 0;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.25);
	cursor: pointer;
	color: #666666;
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
	padding: 9px 14px;
	composes: bodyBold;
}


.dont-break-out {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/* .iconbuttonbig {
position: fixed;
bottom: 50px;
right: 30px;
z-index: 55;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
width: 72px;
height: 72px;
border-radius: 50%;
cursor: pointer;
box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
-o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
} */

.iconbuttonbig {
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	background-color: white;
}

.iconbuttonbigblue {
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	background-color: var(--sc-blue);
}

.plusicon {
	width: 54px;
	height: 54px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	background-position: -108px -270px;
}

.plusblueicon {
	width: 54px;
	height: 54px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	background-position: -162px -0px;
}

.nextblueicon {
	width: 54px;
	height: 54px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	background-position: -216px -0px;
}

.exiticon {
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	background-position: -216px -198px;
	width: 36px;
	height: 36px;
}

.replyblueicon {
	background-position: -108px -0px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 54px;
	height: 54px;
}

.exiticonblue {
	background-position: -270px -72px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 36px;
	height: 36px;
}

.exitgrayicon {
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	background-position: -216px -234px;
	width: 36px;
	height: 36px;
}

.closeicon {
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	background-position: -144px -234px;
	width: 36px;
	height: 36px;
}

.alertblueicon {
	background-position: -108px -54px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 54px;
	height: 54px;
	margin-bottom: -20px;
	z-index: 1;
	margin-top: 30px;
}

.backicon {
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	background-position: -180px -198px;
	width: 32px;
	height: 32px;
}

.rotateicon {
	background-position: -216px -54px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 54px;
	height: 54px;
}

.nextwhiteicon {
	background-position: -162px -270px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 54px;
	height: 54px;
}

.nextgrayicon {
	background-position: -54px -270px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 54px;
	height: 54px;
}

.nextgreysmallicon {
	background-position: -252px -234px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 32px;
	height: 32px;
}

.vmarkicon {
	background-position: -0px -54px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 54px;
	height: 54px;
}

.vmarkiconwhite {
	background-position: -0px -216px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 54px;
	height: 54px;
}

.xmarkicon {
	background-position: -54px -0px;
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	width: 54px;
	height: 54px;
}

.logout {
	background-image: url('./images/SwarmCity-Sprite-doublesize.png');
	background-repeat: no-repeat;
	background-size: 324px 324px;
	background-position: -216px -198px;
	width: 36px;
	height: 36px;
}

.flexrow {
	display: flex;
	flex-direction: row;
}

.flexcolumn {
	display: flex;
	flex-direction: row;
}

.useraddress {
	compose: smallLight;
}

.yellow {
	color: var(--sc-yellow);
}

.blue {
	color: var(--sc-blue);
}

.red {
	color: var(--sc-red);
}

.gray {
	color: var(--sc-grey4);
}

.header {
	composes: backgroundImg;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0px 16px 0px;
	height: 24px;
	position: fixed;
	top: 0;
	margin-bottom: 56px;
	width: 100vw;
	z-index: 10;
	max-width: 520px;
	color: var(--sc-yellow);
	composes: bodyBold;
	background-color: black;
	composes: baseShadow;
}

.headerwithlogo {
	composes: backgroundImg;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 0px 16px 0px;
	height: 24px;
	position: fixed;
	top: 0;
	margin-bottom: 56px;
	width: 100vw;
	z-index: 10;
	max-width: 520px;
	color: var(--sc-yellow);
	composes: bodyBold;
	background-color: black;
	composes: baseShadow;
}

.aspectratiowrapper {
	display: block;
	background: white;
	max-width: 100%;
	height: calc(100vh - 60px);
	margin: 0;
}

.aspectratiodiv {
	width: 100%;
	padding-bottom: 100%;
	background: gold;
	/** <-- For the demo **/
}

.photoplace {
	width: 100vw;
	display: flex;
	padding: 0;
	max-height: 520px;
	margin-top: 56px;
	max-width: 520px;
	justify-content: center;
	background-color: var(--sc-grey4);
}

.cropper {
	width: 100vw;
	display: flex;
	padding: 0;
	margin: 0;
	max-width: 520px;
	justify-content: center;
	background-color: var(--sc-grey4);
}

.newPhotoplace {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100vw;
	background-color: var(--sc-white);
}

.filterplace {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 100%;
	overflow: scroll;
	background-color: var(--sc-white);
}

.filteritem {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.filterName {
	margin-top: 15px;
}

.textbutton {
	composes: bodyDefault;
	margin: 20px;
	cursor: pointer;
}

.scroller {
	background-color: var(--sc-white);
	width: 100%;
	overflow: scroll;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 16px 0px 20px 0px;
	background-color: rgba(255, 255, 255, 0.88);
	z-index: 100;
	height: 30px;
	position: fixed;
	width: 100%;
	max-width: 520px;
	bottom: 0;
}

.image {
	width: 100%;
	/* height: 100%; */
}

.postContainer {
	display: grid;
	margin: 16px 16px 24px 16px;
	composes: baseShadow;
	background-color: white;
}

.posterChildContainer {
	padding: 15px;
	position: relative;
	background-color: white;
}

.posterChild {
	box-shadow: inset 0px -5px 15px rgb(0 0 0 / 10%);
	display: grid;
	padding-top: 100%;
}

.postHead {
	display: grid;
	grid-template-columns: 48px auto 72px;
	grid-template-rows: auto auto;
	padding: 6px 12px 18px 18px;
	column-gap: 8px;
	color: var(--sc-grey4);
	align-items: center;
	background-color: white;
}

.postCaption {
	composes: captionStyle;
	display: grid;
	padding: 0px 22px 16px 22px;
	text-align: center;
}

.postUsername {
	composes: bodyBold;
	font-size: 14px;
	text-decoration: none;
	color: var(--sc-grey4);
}

.postLocation {
	composes: bodyDefault;
	font-size: 12px;
	color: var(--sc-grey4);
}

.postRepostIcon {
	display: grid;
	justify-self: center;
}

.postRepostCreator {
	display: grid;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	right: 0px;
	padding: 6px 12px 6px 6px;
	grid-template-columns: 36px auto;
	grid-template-rows: auto;
	background-color: rgba(255, 255, 255, 0.82);
}


.avatarImage {
	border-radius: 50%;
	height: 32px;
	width: 32px;
	composes: baseShadow;
}



.postFooter {
	display: block;
	padding: 16px;
	composes: bodyDefault;
	font-size: 14px;
	background-color: white;
}

.likes {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-size: 14px;
}

.feedEnd {
	composes: bodyBold;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 56px;
	color: var(--sc-grey4);
	margin: 40px 0px 100px 0px;
}

.actionButton {
	margin-top: -4px;
	composes: bodyBold;
	font-size: 14px;
	align-items: center;
	background-color: var(--sc-yellow);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--sc-grey4);
	z-index: 10;
	padding: 8px 16px 8px 16px;
}

.iconAdjust {
	margin-top: 3px;
}

.video {
	margin-bottom: 4px;
}

.small {
	width: 10px;
	height: 10px;
}

.dialogiconbox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	width: 100vw;
	margin-top: 40px;
	max-width: 520px;
}

.textinput {
	composes: bodyDefault;
	width: 205px;
	color: var(--sc-white);
	text-align: left;
	padding-bottom: 5px;
	margin-left: 20px;
	border: 0px;
	background-color: transparent;
}

.metaContainer {
	display: flex;
	width: 100vw;
	padding: 20px;
	flex-direction: row;
	align-items: flex-start;
	background-color: var(--sc-grey4);
}

.dialogBox {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.dialogTitle {
	composes: bodyBold;
	margin-bottom: 20px;
}

.dialogClose {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
}

.dialogAvatar {
	border-radius: 50%;
	height: 64px;
	width: 64px;
	margin-bottom: 20px;
}

.dialogPasswordBox {
	width: 75vw;
	display: flex;
	flex-direction: column;
	place-items: center center;
	margin-bottom: 10vh;
}

.dialogPassword {
	composes: bodyDefault;
	width: 205px;
	color: var(--sc-grey4);
	text-align: left;
	padding-bottom: 5px;
	border: 0px;
	border-bottom: 1px solid var(--sc-grey4);
	background-color: transparent;
}

.dialogPasswordiconbox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin-top: -40px;
	max-width: 520px;
	padding: 20px;
}

.cancel {
	background: none;
	box-shadow: none;
}

.thumbNavlink {
	display: grid;
}

.aboutContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	background-color: var(--sc-grey4);
}

.aboutBrand {
	composes: mainTitle1;
	font-weight: 800;
	color: var(--sc-yellow);
	height: 60px;
	margin-top: 15px;
	align-self: center;
}

.aboutFooter {
	height: 20vh;
	padding: 16px 40px 12px 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	composes: backgroundImg;
	z-index: 100;
	max-width: 520px;
	bottom: 0;
}

.spacer {
	margin: 10px;
}

.buttonYellow {
	composes: button;
	background-color: var(--sc-yellow);
}

.buttonBlue {
	composes: button;
	background-color: var(--sc-blue);
}

.flip {
	transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}